:root {
    --grey:#333;
    --primary:rgb(69, 1, 104);
    --secondary:darkorchid;
    --text: white;
}


header {
    display:flex;
    justify-content: space-between;
    margin:20px 50px;

}

.startpage{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
}

#start {
    outline: none;
    border: none;
    display: inline-block;
    padding: 10px 15px;
    background: var(--primary);
    font-size: 25px;
    border-radius: 12px;
    position: relative;
    top: -3px;
    box-shadow: 0 3px var(--grey);
    color: var(--text);
}

#start:hover {
    box-shadow: 0 2px var(--grey);
    top: -2px;
    background-color:var(--secondary) ;
  }

#highscore {
    outline: none;
    border: none;
    display: inline-block;
    padding: 5px 8px;
    color: var(--secondary);
    font-size: 20px;
    border-radius: 12px;
    position: relative;
    top: -3px;
    background-color: var(--text);
    
}

#counter {
    font-size: 20px;
}

#homepagep {
    font-weight: lighter;
    width:50%;
    line-height: 2;
    margin-left: 50px;
    margin-top: 0px;
    font-size: 20px;
}

.texttop {
    font-size: 45px;
    margin: 0px;
}

.choiceparent {
    display: flex;
    flex-direction: column;
}

.questions {
    margin-top: 100px;
    
}


.choices {
    outline: none;
    border: none;
    display: inline-block;
    
    padding: 10px 15px;
    background: var(--primary);
    font-size: 25px;
    border-radius: 12px;
    position: relative;
    top: -3px;
    box-shadow: 0 3px var(--grey);
    color: var(--text);
    margin: 30px 0px;
}

.choices:hover {
    box-shadow: 0 2px var(--grey);
    top: -2px;
    background-color:var(--secondary) ;
}

.feedback {
    color: var(--grey);
    opacity: 0.5;
    font-size: 30px;
}

#savedinitial {
    outline: none;
  border: none;
  padding: 12px;
  width: 50%;
  font-size: 20px;
  border: 2px solid var(--grey);
  border-radius: 12px;
}

#submitscore {
    outline: none;
    border: none;
    display: inline-block;
    padding: 10px 15px;
    background: var(--primary);
    font-size: 25px;
    border-radius: 12px;
    position: relative;
    top: -3px;
    box-shadow: 0 3px var(--grey);
    color: var(--text);
}

#submitscore:hover{
    box-shadow: 0 2px var(--grey);
    top: -2px;
    background-color:var(--secondary) 
}



 /* color: var(--grey);
  padding: 15px 15px;
  border: 2px solid var(--grey);
  background: var(--tertiary);
  border-radius: 12px;
  margin-bottom: 20px; */


